.env

logs
*.log
npm-debug.log*

node_modules
bower_components

dist

public

# Optional eslint cache
.eslintcache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

db.json